body {
    background-image: radial-gradient(rgb(0, 238, 255), black);
    background-repeat: no-repeat;
}

html {
    height:100%
}

li {
    padding-right: 15px;
    float: right;
    list-style-type: none;
}
a {
    font-weight: 800;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
h1 {
    color: white;
    font-weight: 300;
    font-size: 40px;
}
#center-card {
    min-width: 40%;
    background-color: rgba(0, 0, 0, 0.712);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 150px;
    padding: 30px;
}
h2 {
    color: white;
    font-size: 30px;
}